<ul>
  <% @artist.songs.each do |song| %>
    <li><%= link_to song.title, song_path(song)%></li>
  <% end %>
</ul>


<% if false %>
 it "links to the artist's songs by title" do
    visit artist_path(@artist)
    expect(page).to have_link("The Grid", href: song_path(@grid))
  end
<% end %>